# dependencies and test result
node_modules/
coverage/

# macOS system file
.DS_Store
.AppleDouble
.LSOverride

# Windows system file
Thumbs.db
ehthumbs.db
Desktop.ini

# compiler and IDE file
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environmental variables (security, preventing key leakage)
.env
.env.local

# log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# output
dist/
build/